html * {
    font-family: $font-text;
}
 
body {
    width: 1920px;
    height: 1080px;
    overflow-x: hidden;
    background-image: url(/img/delivery-concept-handsome-african-american-deliver-AZUZTZ3\ 1.png);
    background-position: top 48px left 600px;
    background-size: 1066px 712px;
    background-repeat: no-repeat;
} 